<ion-header>
    <ion-toolbar class="toolbar-color1">

        <ion-row>
            <ion-col size='4'>
                <div class="rao_logo" routerLink="/home/dashboard">
                    <ion-img src="../../assets/images/raoinfotech-logo.png" class="logo_img"></ion-img>
                </div>
            </ion-col>
            <ion-col size='4'>
                <div class="middle_sec font_large text-center">
                    <span>Profile</span>
                </div>
            </ion-col>
            <ion-col size='4'>
                <div class="icon_sec">
                    <ion-icon name="notifications" routerLink="/home/notification"></ion-icon>
                </div>
                <ion-menu-button></ion-menu-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="loader" *ngIf="loading">
        <img class="loading_img" src="../../assets/images/loader.gif" />
    </div>
    <div class="user_detail">
        <div *ngIf="singleUser">
            <div class="single_user_profile text-center">
                <div class="single_user">
                    <div class="profile_img">
                        <img *ngIf="!singleUser.profilePhoto" src="../../assets/images/person.png">
                        <img *ngIf="singleUser.profilePhoto" src="{{path}}{{singleUser.profilePhoto}}">
                    </div>
                </div>
            </div>
            <div class="usee_name_text">
                <p class="text-center">{{singleUser.name}}</p>
            </div>
            <div class="card">
                <div class="card-content row">
                    <div class="col-4"><span class="user_heading">Name : </span></div>
                    <div class="col-8">
                        <span class="single_user_name">{{singleUser.name}}</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content row">
                    <div class="col-4"><span class="user_heading">email : </span></div>
                    <div class="col-8">
                        <span class="single_user_email">{{singleUser.email}}</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content row">
                    <div class="col-4"><span class="user_heading">DOB : </span></div>
                    <div class="col-8">
                        <span class="single_user_name">{{singleUser.dob}}</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content row">
                    <div class="col-4"><span class="user_heading">Phone No. : </span></div>
                    <div class="col-8">
                        <span class="single_user_name">{{singleUser.phone}}</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content row">
                    <div class="col-4"><span class="user_heading">Location : </span></div>
                    <div class="col-8">
                        <span class="single_user_name">{{singleUser.location}}</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content row">
                    <div class="col-4 pr-0"><span class="user_heading">Designation : </span></div>
                    <div class="col-8">
                        <span class="single_user_name">{{singleUser.designation}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="leave_report">
            <div class="leave_report_text text-white">
                Leave Report
            </div>
            <div *ngIf="userLeaves.length">
                <div class="leave_details" *ngFor="let leave of userLeaves; let i=index">
                    <div class="card" style="cursor:pointer">
                        <label for="o{{i}}">
                            <div class="row">
                                <div class="col-4">
                                    <div *ngIf="leave.status == 'Rejected'">
                                        <span style=" color: #FF0000;">
                                            {{leave.fromDate.date}}/{{leave.fromDate.month}}/{{leave.fromDate.year}}
                                        </span>
                                    </div>
                                    <div *ngIf="leave.status == 'Approved'">
                                        <span style=" color: #3998C5;">
                                            {{leave.fromDate.date}}/{{leave.fromDate.month}}/{{leave.fromDate.year}}
                                        </span>
                                    </div>
                                    <div *ngIf="leave.status == 'Pending'">
                                        <span style=" color: #FFAA00;">
                                            {{leave.fromDate.date}}/{{leave.fromDate.month}}/{{leave.fromDate.year}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-4 text-center">
                                    <div *ngIf="leave.status == 'Rejected'">
                                        <span style="cursor: pointer; color: #FF0000;">
                                            {{leave.noOfDays}}</span>
                                    </div>
                                    <div *ngIf="leave.status == 'Approved'">
                                        <span style="cursor: pointer; color: #3998C5;">
                                            {{leave.noOfDays}}</span>
                                    </div>
                                    <div *ngIf="leave.status == 'Pending'">
                                        <span style="cursor: pointer; color: #FFAA00;">
                                            {{leave.noOfDays}}</span>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <div *ngIf="leave.status == 'Rejected'">
                                        <span class="pl-2" style="color: #FF0000;">{{leave.status}}</span>
                                    </div>
                                    <div *ngIf="leave.status == 'Approved'">
                                        <span class="pl-2" style="color: #00B51E;">{{leave.status}}</span>
                                    </div>
                                    <div *ngIf="leave.status == 'Pending'">
                                        <span class="pl-2" style="color: #FFAA00;">{{leave.status}}</span>
                                    </div>
                                </div>
                            </div>
                        </label>
                        <input class="checker" type="checkbox" id="o{{i}}" hidden (click)="openModal()">
                        <div class="modal">
                            <div class="modal-body">
                                <div class="modal-content">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="text-white">Reason :</p>
                                            <div class="reason_text text-white"> {{leave.reason}}</div>
                                        </div>
                                        <div class="col-12">
                                            <p class="text-white">Date :</p>
                                            <div class="reason_text text-white">
                                                {{leave.fromDate.date}}/{{leave.fromDate.month}}/{{leave.fromDate.year}}
                                            </div>
                                        </div>
                                        <div class="col-12" *ngIf="leave.extraHours">
                                            <p class="text-white">Compensation :</p>
                                            <div class="reason_text text-white">{{leave.compansate}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ok_btn text-center mt-3">
                                        <label for="o{{i}}">Ok</label>
                                    </div>
                                </div>
                                <div class="close_btn">
                                    <label for="o{{i}}">X</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!userLeaves.length" class="no_leaves">
                <p style="text-align:center;">No leaves yet...</p>
            </div>
        </div>
    </div>
</ion-content>

<!-- <ion-content>
    <div class="profile" *ngIf="userDetail && currentUserRole != 'Admin'">
        <div class="bg-color"></div>
        <div class="loader" *ngIf="loading">
            <img class="loading_img" src="../../assets/images/loader.gif" />
        </div>
        <div class="profile-card">
            <ion-card class="bg-white ">
                <ion-card-content>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-8 p-0">
                                <div class="profile-img">
                                    <img *ngIf="!userDetail.profilePhoto" class="circle-ronded"
                                        src="../../assets/images/person.png">
                                    <img *ngIf="userDetail.profilePhoto" class="circle-ronded"
                                        src="{{path}}{{userDetail.profilePhoto}}">
                                </div>
                                <div class="profile-content">
                                    <h1 class="font_large">{{userDetail.name}}</h1>
                                    <span class="font_base">{{userDetail.designation}}</span>
                                    <p class="font_small">Commitment global cultivate, thought leader framework, our work.</p>
                                </div>
                            </div>
                            <div class="col-4 p-0 text-right location">
                                <span class="font_small"><img src="../../assets/images/location.png" alt="location">
                                    Location</span>
                                <p class="font_small">{{userDetail.location}}</p>
                                <button routerLink="/home/edit-info" class="font_small"><i class="fa fa-pencil-square-o"
                                        aria-hidden="true"></i> Edit Info</button>
                            </div>
                        </div>
                        <div class="contact mt-2">
                            <div class="d-inline-block w-100 mt-2">
                                <div class="float-left">
                                    <i class="fa fa-envelope-o mr-2" aria-hidden="true"></i>
                                    <span class="font_small">{{userDetail.email}}</span>
                                </div>
                                <div class="float-right">
                                    <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                                    <span class="font_small">{{userDetail.phone}}</span>
                                </div>
                            </div>
                            <div class="w-100">
                                <span class="dob font_small mr-2">DOB</span>
                                <span class="dob-dt font_small">{{userDetail.dob}}</span>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
            <div class="container-fluid">
                <ion-card class="sick-leave">
                    <div class="row">
                        <div class="col-9">
                            <h1 class="font_large">Sick Leave</h1>
                            <p class="font_small">Commitment global cultivate, thought leader framework, our work.</p>
                        </div>
                        <div class="col-3 px-0 pt-2">
                            <span class="font_large">{{userDetail.leaveType.sick_leave}}</span>
                        </div>
                    </div>
                </ion-card>
                <ion-card class="emergency-leave">
                    <div class="row">
                        <div class="col-9">
                            <h1 class="font_large">Emergency Leave</h1>
                            <p class="font_small">Commitment global cultivate, thought leader framework, our work.</p>
                        </div>
                        <div class="col-3 px-0 pt-2">
                            <span class="font_large">{{userDetail.leaveType.emergency_leave}}</span>
                        </div>
                    </div>
                </ion-card>
                <ion-card class="casual-leave">
                    <div class="row">
                        <div class="col-9">
                            <h1 class="font_large">Casual Leave</h1>
                            <p class="font_small">Commitment global cultivate, thought leader framework, our work.</p>
                        </div>
                        <div class="col-3 px-0 pt-2">
                            <span class="font_large">{{userDetail.leaveType.casual_leave}}</span>
                        </div>
                    </div>
                </ion-card>
                <ion-card class="sick-leave paid-leave">
                    <div class="row">
                        <div class="col-9">
                            <h1 class="font_large">Paid Leaves</h1>
                            <p class="font_small">Commitment global cultivate, thought leader framework, our work.</p>
                        </div>
                        <div class="col-3 px-0 pt-2">
                            <span class="font_large">{{userDetail.leaveType.paid_leave}}</span>
                        </div>
                    </div>
                </ion-card>
            </div>
        </div>
    </div>
</ion-content> -->