<ion-header>
  <ion-toolbar class="toolbar-color1">
    <ion-row>
      <ion-col size="4">
        <div class="rao_logo" routerLink="/home/dashboard">
          <ion-img
            src="../../assets/images/raoinfotech-logo.png"
            class="logo_img"
          ></ion-img>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="middle_sec font_large text-center">
          <span>Profile</span>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="icon_sec">
          <!-- <ion-icon name="notifications" routerLink="/home/notification" class="mr-3"></ion-icon> -->
          <img
            src="../../../assets/images/Path 250.png"
            routerLink="/home/notification"
            class="mr-3"
            alt="notification"
          />
          <img
            src="../../../assets/images/exit.png"
            alt="logout button"
            (click)="logOut()"
          />
        </div>
        <ion-menu-button></ion-menu-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sampleContainer" *ngIf="loading">
    <div class="loader">
      <span class="dot dot_1"></span>
      <span class="dot dot_2"></span>
      <span class="dot dot_3"></span>
      <span class="dot dot_4"></span>
    </div>
  </div>
  <div class="profile-card" *ngIf="singleUser">
    <ion-card class="bg-white">
      <ion-card-content>
        <div class="container-fluid">
          <div class="row">
            <div class="col-8 p-0">
              <div class="profile-img">
                <img
                  *ngIf="!singleUser.profilePhoto"
                  class="circle-ronded"
                  src="../../assets/images/person.png"
                />
                <img
                  *ngIf="singleUser.profilePhoto"
                  class="circle-ronded"
                  src="{{ path }}{{ singleUser.profilePhoto }}"
                />
              </div>
              <div class="profile-content">
                <h1 class="font_large">{{ singleUser.name }}</h1>
                <span class="font_base">{{ singleUser.designation }}</span>
              </div>
            </div>
            <div class="col-4 p-0 text-right location">
              <span class="font_small"
                ><img
                  src="../../../assets/images/location.png"
                  alt="location"
                />
                Location</span
              >
              <p class="font_small">{{ singleUser.location }}</p>
              <span class="leave-count"
                >{{ 18 - singleUser.total_leave }} / 18</span
              >
            </div>
          </div>
          <div class="contact mt-2">
            <div class="d-inline-block w-100 mt-2">
              <div class="float-left">
                <i class="fa fa-envelope-o mr-2" aria-hidden="true"></i>
                <span class="font_small"
                  ><a href="mailto:{{ singleUser.email }}"
                    >{{ singleUser.email }}
                  </a></span
                >
              </div>
              <div class="float-right">
                <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                <span class="font_small"
                  ><a href="tel:{{ singleUser.phone }}">{{
                    singleUser.phone
                  }}</a></span
                >
              </div>
            </div>
            <div class="d-inline-block w-100 mt-1">
              <div class="float-left">
                <span class="dob font_small mr-2">DOB</span>
                <span class="dob-dt font_small">{{ singleUser.dob }}</span>
              </div>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="leavs-count-card container-fluid">
      <div class="row">
        <div class="col-3 p-0">
          <div class="sick-leave text-center">
            <p>{{ singleUser.leaveType.sick_leave }}</p>
            <span>Sick Leave</span>
          </div>
        </div>
        <div class="col-3 p-0">
          <div class="emergency-leave text-center">
            <p>{{ singleUser.leaveType.emergency_leave }}</p>
            <span>Emergency Leave</span>
          </div>
        </div>
        <div class="col-3 p-0">
          <div class="casual-leave text-center">
            <p>{{ singleUser.leaveType.casual_leave }}</p>
            <span>Casual Leave</span>
          </div>
        </div>
        <div class="col-3 p-0">
          <div class="paid-leave text-center">
            <p>{{ singleUser.leaveType.paid_leave }}</p>
            <span>Paid Leave</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" *ngIf="userLeaves.length">
      <ion-card class="leave-data-heading">
        <div class="row">
          <div class="col-4 px-0">
            <h1 class="font_large">From</h1>
          </div>
          <div class="col-4">
            <h1 class="font_large">To</h1>
          </div>
          <div class="col-4">
            <h1 class="font_large">Status</h1>
          </div>
        </div>
      </ion-card>
      <ion-card
        *ngFor="let leave of userLeaves; let i = index"
        class="leave-list"
      >
        <label for="o{{ i }}" class="w-100">
          <div class="row">
            <div class="col-4">
              <span>
                {{ leave.fromDate.date }}/{{ leave.fromDate.month }}/{{
                  leave.fromDate.year
                }}
              </span>
            </div>
            <div class="col-4">
              <span *ngIf="leave.toDate.date">
                {{ leave.toDate.date }}/{{ leave.toDate.month }}/{{
                  leave.toDate.year
                }}</span
              >
              <span *ngIf="!leave.toDate.date" style="margin-left: 14px;">
                -
              </span>
            </div>
            <div class="col-4" (click)="openModal(i)">
              <div *ngIf="leave.status == 'Rejected'">
                <span style="color: #FF0000;">{{ leave.status }}</span>
              </div>
              <div *ngIf="leave.status == 'Approved'">
                <span style="color: #00B51E;">{{ leave.status }}</span>
                <span class="paidLeave" *ngIf="leave.paid">P</span>
              </div>
              <div *ngIf="leave.status == 'Pending'">
                <span style="color: #FFAA00;">{{ leave.status }}</span>
              </div>
            </div>
          </div>
        </label>

        <div
          class="modal_content_with_overlay"
          id="open-modal-body{{ i }}"
          style="display: none;"
        >
          <div class="modal_body">
            <div class="modal_header">
              <div class="leave_reason">
                <div class="row m-0">
                  <img
                    class="leave_image"
                    src="../../assets/images/leave_reason.png"
                  />
                  <p class="leave_titles font_large">
                    Reason For Leave
                  </p>
                </div>
                <p class="leave_reason_text font_large">
                  {{ leave.reason }}
                </p>
              </div>
            </div>

            <div class="leave_dates">
              <div class="row m-0">
                <img
                  class="leave_image"
                  src="../../assets/images/leave_date.png"
                />
                <p class="leave_titles font_large">Leave Dates</p>
              </div>
              <span
                class="leave_date_text font_large"
                *ngIf="leave.noOfDays <= 1"
              >
                {{ leave.fromDate.date }}/{{ leave.fromDate.month }}
              </span>
              <span
                class="leave_date_text font_large"
                *ngIf="leave.noOfDays > 1"
              >
                {{ leave.fromDate.date }}/{{ leave.fromDate.month }} -
                {{ leave.toDate.date }}/{{ leave.toDate.month }}
              </span>
            </div>
            <div class="modal_header" *ngIf="leave.paid">
              <div class="leave_reason">
                <div class="row m-0">
                  <img
                    class="leave_image"
                    src="../../assets/images/leave_reason.png"
                  />
                  <p class="leave_titles font_large">
                    Paid Leave
                  </p>
                </div>
              </div>
            </div>
            <div class="modal_header" *ngIf="leave.attachment">
              <div class="leave_reason">
                <div class="row m-0">
                  <img
                    class="leave_image"
                    src="../../assets/images/leave_reason.png"
                  />
                  <p class="leave_titles font_large">
                    Attachment:
                    <span
                      class="attachmentFile"
                      (click)="
                        download(
                          path + 'attachment/' + leave.attachment,
                          leave.attachment,
                          leave.mimetype
                        )
                      "
                      >View</span
                    >
                  </p>
                </div>
                <div *ngIf="downloading" class="progressBar">
                  <div class="progress-outer" *ngIf="progress > 0">
                    <div class="progress-inner" [style.width]="progress + '%'">
                      {{ progress }}%
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row m-0">
              <button
                type="button"
                class="btn close_btn font_large"
                (click)="closeModal(i)"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </ion-card>
    </div>
    <div *ngIf="!userLeaves.length" class="no_leaves">
      <p style="text-align:center;">No leaves yet...</p>
    </div>
  </div>
</ion-content>
