<ion-header>
    <ion-toolbar class="toolbar-color1">
        <ion-row>
            <ion-col size='4'>
                <div class="rao_logo" routerLink="/home/dashboard">
                    <ion-img src="../../assets/images/raoinfotech-logo.png" class="logo_img"></ion-img>
                </div>
                <img src="../../../assets/images/dashboard.png" alt="meter">
            </ion-col>
            <ion-col size='4'>
                <div class="middle_sec text-center">
                    <span>Notification</span>
                </div>
            </ion-col>
            <ion-col>
                <div class="icon_sec">
                   <img src="../../../assets/images/exit.png" alt="logout button">
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <div class="loader" *ngIf="loading">
        <img class="loading_img" src="../../assets/images/loader.gif" />
    </div>
    <div class="all_notification" *ngFor="let item of notificationDetails">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <div class="profile_photo">
                            <img src="../../../assets/images/person.png" alt="profile photo">
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="noti_content">
                                <span class="user_name"  innerHtml="{{item.body}}"></span>
                        </div>
                        <div class="date_noti w-100">
                            <span>{{item.createdAt | date}} | {{item.createdTime}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="notificationDetailsCount == 0" class="dataNotAvalible">
        <p>Sorry You have no new notifications</p>
    </div> -->

    <div class="notification">
        <ion-card>
            <div class="row">
                <div class="col-2">
                    <div class="report-profile mt-3">
                        <img src="../../../assets/images/hover-1.jpg" class="img-fluid" alt="profile image">
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12 p-0">
                            <h3>Pushsparajsinh Chudasama</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="pending">status</span>
                            <p class="status">Pending</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="apply">Applied For Leaves</span>
                            <p class="days"><span>02 Days /</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="row">
                <div class="col-2">
                    <div class="report-profile mt-3">
                        <img src="../../../assets/images/hover-3.jpg" class="img-fluid" alt="profile image">
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12 p-0">
                            <h3>Pushsparajsinh Chudasama</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="approved">status</span>
                            <p class="status">Approved</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="apply">Applied For Leaves</span>
                            <p class="days"><span>02 Days /</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="row">
                <div class="col-2">
                    <div class="report-profile mt-3">
                        <img src="../../../assets/images/hover-3.jpg" class="img-fluid" alt="profile image">
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12 p-0">
                            <h3>Pushsparajsinh Chudasama</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="approved">status</span>
                            <p class="status">Approved</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="apply">Applied For Leaves</span>
                            <p class="days"><span>02 Days /</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="row">
                <div class="col-2">
                    <div class="report-profile mt-3">
                        <img src="../../../assets/images/hover-1.jpg" class="img-fluid" alt="profile image">
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12 p-0">
                            <h3>Pushsparajsinh Chudasama</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="pending">status</span>
                            <p class="status">Pending</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="apply">Applied For Leaves</span>
                            <p class="days"><span>02 Days /</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="row">
                <div class="col-2">
                    <div class="report-profile mt-3">
                        <img src="../../../assets/images/hover-1.jpg" class="img-fluid" alt="profile image">
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12 p-0">
                            <h3>Pushsparajsinh Chudasama</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="pending">status</span>
                            <p class="status">Pending</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="apply">Applied For Leaves</span>
                            <p class="days"><span>02 Days /</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="row">
                <div class="col-2">
                    <div class="report-profile mt-3">
                        <img src="../../../assets/images/hover-3.jpg" class="img-fluid" alt="profile image">
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12 p-0">
                            <h3>Pushsparajsinh Chudasama</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="approved">status</span>
                            <p class="status">Approved</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="apply">Applied For Leaves</span>
                            <p class="days"><span>02 Days /</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="row">
                <div class="col-2">
                    <div class="report-profile mt-3">
                        <img src="../../../assets/images/hover-1.jpg" class="img-fluid" alt="profile image">
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12 p-0">
                            <h3>Pushsparajsinh Chudasama</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="pending">status</span>
                            <p class="status">Pending</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="apply">Applied For Leaves</span>
                            <p class="days"><span>02 Days /</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-card>
        <ion-card>
            <div class="row">
                <div class="col-2">
                    <div class="report-profile mt-3">
                        <img src="../../../assets/images/hover-1.jpg" class="img-fluid" alt="profile image">
                    </div>
                </div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12 p-0">
                            <h3>Pushsparajsinh Chudasama</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="pending">status</span>
                            <p class="status">Pending</p>
                        </div>
                        <div class="col-6 p-0">
                            <span class="apply">Applied For Leaves</span>
                            <p class="days"><span>02 Days /</span> 15</p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-card>
    </div>
</ion-content>