$app_bar_color: #01023F;
$font_size: 15px;
$text_color: #3998C5;
// header start here
// status bar color
ul {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

a:hover {
    text-decoration: none;
}

// content start  here
.leave_history {
    padding: 10px;
    .apply_leave_text {
        background-color: $text_color;
        border-radius: 4px;
        width: 100%;
        padding: 7px 18px;
        font-size: 18px;
        font-weight: bold;
    }
}

.select_time {
    margin: 15px 0px;
    ion-item {
        box-shadow: 1px 1px 4px 1px #dcdcdc;
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        height: 38px;
        ion-label {
            color: #D9D9D9;
            font-size: 14px;
            margin-top: -3px;
        }
    }
}

.leave_details {
    .card {
        box-shadow: 4px 4px 10px 2px #dcdcdc;
        margin-bottom: 4px;
        padding: 10px;
        span {
            font-size: 12px;
            color: $text_color;
        }
    }
}

.no_leaves {
    span {
        font-size: 15px;
        color: #000;
    }
}

ion-datetime {
    color: #D9D9D9;
    font-size: 14px;
    margin-top: -10px;
    position: relative;
    padding: 0px;
    width: 140px;
}

ion-datetime::after {
    content: '\276F';
    position: absolute;
    top: 0px;
    right: 4px;
    z-index: 1;
    color: #D9D9D9;
    transform: rotate(90deg);
}

.item-native {
    padding: 0px!important;
}

.datetime-text {
    font-size: 12px;
}

// Meghna Css
.leave_history_card{
    background-color: #D8D8D8;
    .card{
        border-radius: 0;
        margin-bottom: 2px;
    }
    .leave_month{
        margin: 15px 10px;
        .badge{
            font-family: 'Rubik';
            font-size: 12px;
            border-radius: 50%;
            margin: auto;
            height: 56px;
            width: 56px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
        .approved{
            background-color: rgba(86,217,134,0.32);
            color: #56D986;
        }
        .pending{
            background-color: rgba(255,216,107,0.32);
            color: #FFD86B;
        }
        .rejected{
            background-color: rgba(251,144,184,0.32);
            color: #FB90B8;
        }
    }
    .application_detail{
        margin: 10px 0;
        .name{
            font-family: 'Roboto';
            font-size: 13px;
            margin: 0;
            color: #020041;
            padding-bottom: 10px;
        }
        p{
            font-size: 12px;
        }
        .sub_text{
            font-family: 'Rubik';
            font-size: 10px;
            color: #3B3838;
        }
        .status_pill{
            border: none;
            padding: 2px 10px;
            text-align: center;
            display: inline-block;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 16px;
            font-family: 'Rubik';
            font-size: 10px;
        }
        .approved{
            background-color: #56D986;
            color: #307D5E;
        }
        .pending{
            background-color: #FFD86B;
            color: #A58326;
        }
        .rejected{
            background-color: #FB90B8;
            color: #C24779;
        }
        .details_heading{
            font-family: 'Rubik';
            font-size: 12px;
            color: #020041;
            margin-top: 10px;
        }
        .leave_date_day{
            color: #EF1F6D;
            font-size: 11px;
            font-family: 'Open Sans';
            span{
                color: #8E8E8E;
                font-size: 11px !important;
            }
            span.approved_text{
                font-family: 'Open Sans';
                font-size: 12px !important;
                color: #7A869A;
            }
        }  
    }
}