$app_bar_color: #01023F;
$font_size: 15px;
$text_color: #3998C5;
// header start here
// status bar color
ul {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

a:hover {
    text-decoration: none;
}

// content start  here
.leave_history {
    padding: 10px;
    .apply_leave_text {
        background-color: $text_color;
        border-radius: 4px;
        width: 100%;
        padding: 7px 18px;
        font-size: 18px;
        font-weight: bold;
    }
}

.select_time {
    margin: 15px 0px;
    ion-item {
        box-shadow: 1px 1px 4px 1px #dcdcdc;
        border: 1px solid #D9D9D9;
        border-radius: 30px;
        height: 38px;
        ion-label {
            color: #D9D9D9;
            font-size: 14px;
            margin-top: -3px;
        }
    }
}

.leave_details {
    .card {
        box-shadow: 4px 4px 10px 2px #dcdcdc;
        margin-bottom: 4px;
        padding: 10px;
        span {
            font-size: 12px;
            color: $text_color;
        }
    }
}

.no_leaves {
    span {
        font-size: 15px;
        color: #000;
    }
}

ion-datetime {
    color: #D9D9D9;
    font-size: 14px;
    margin-top: -10px;
    position: relative;
    padding: 0px;
    width: 140px;
}

ion-datetime::after {
    content: '\276F';
    position: absolute;
    top: 0px;
    right: 4px;
    z-index: 1;
    color: #D9D9D9;
    transform: rotate(90deg);
}

.item-native {
    padding: 0px!important;
}

.datetime-text {
    font-size: 12px;
}