.login_bg{
    position: relative;
    background: url('../../assets/images/log_in_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}
.login_bg:before{
    content: "";
    background-color: rgba(2,0,65,0.65);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.login_page{
    position: relative;
    padding: 25px 20px;
}
.rao_logo_login{
    height: 50px;
    width: 140px;
    ion-img{
        max-width : 100%;
        min-width : 100%;
        max-height: 100%;
        min-height: 100%; 
    }
}
.app_name{
    p{
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        color: #9CB1D4;
        margin: 0;
        padding: 0 10px;
    }
}
.login_form{
    background-color: #fff;
    border-radius: 3px;
    margin: 20px 0;
    padding: 10px 25px;
    .login_heading{
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        color: #012C6B;
        margin: 10px 0px 0px 0px;
    }
    .login_border_bottom{
        border-color: #003071;
        border-width: 2px;
        width: 35px;
        margin: 0;
    }
    form{
        padding-top: 15px;
        .form-control {
            display: block;
            color: #9CB1D4;
            background-color: transparent !important;
            background-clip : padding-box;
            border: 1px solid #fff;
            border-radius: 3px;
            border: 1px solid #012D6C;
            font-family: 'Rubik', sans-serif;
            font-size: 10px;
        }
        .form-control:focus{
            outline: none!important;
            background: transparent;
            box-shadow: none!important;
        }
        .loginForm input,
        input::placeholder {
            color: #9CB1D4 !important;
            opacity: 1;
            /* Firefox */
            font-family: 'Rubik', sans-serif;
            font-size: 10px;
        }
        .loginForm input,
        input:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color    : #fff !important;
            font-family: 'Rubik', sans-serif;
            font-size: 10px;
        }
        .loginForm input,
        input::-ms-input-placeholder {
            /* Microsoft Edge */
            color    : #9CB1D4 !important;
            font-family: 'Rubik', sans-serif;
            font-size: 10px;
        }
        .email_icon {
            position: absolute;
            top: 11px;
            left: 10px;
        }
        .password_icon{
            position: absolute;
            top: 8px;
            left: 10px;
        }
        .see_password {
            position: absolute;
            right: 10px;
            top: 7px;
            cursor: pointer;
            z-index: 111;
        }
        .input_icon{
            .form-control {
                padding-left: 38px
            }
        }
        .password_sec{
            position: relative;
        }
        .login_btn {
            button {
                background-color: #020041;
                color: #fff;
                font-family: 'Open Sans';
                font-size: 11px;
                padding: 10px 30px;
                border-radius: 3px;
                cursor: pointer;
                margin: 10px 0px;
            }
        }
        .login_btn button:focus {
            box-shadow: none!important;
            outline: none!important;
        }
        a.forget_pass{
            font-family: 'Rubik', sans-serif;
            font-size: 9px;
            color:#C1C1C1;
        }
        a.forget_pass:hover{
            text-decoration: none;
        }
        img.loading-img {
            display: inline-block;
            height: 60px;
            margin-left: 15px;
        }
    }
}