$app_bar_color: #01023F;
$font_size: 15px;
$text_color: #3998C5;
// content start here
.contect_class {
    padding: 10px;
    .card {
        box-shadow: 4px 4px 10px 2px #dcdcdc;
        margin-top: 5px;
        padding: 10px;
    }
    .pending_leaves {
        span {
            font-size: 12px;
        }
        .user_count,
        .user_name {
            color: #3998C5;
        }
        .check_cross,
        .check_right {
            cursor: pointer;
            margin-top: 3px;
        }
    }
    .number_of_days {
        color: $app_bar_color;
        text-align: center;
    }
}

.image_profile {
    width: 20%;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
    img {
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

.application_detail {
    padding-left: 25%;
    p {
        margin-bottom: 0px;
    }
    span {
        font-size: 16px !important;
        color: #3998C5;
    }
}

.accept_reject_btngroup {
    button {
        width: 43%;
        color: #000;
        padding: 5px;
        margin: 10px;
        text-align: center;
        border-radius: 30px;
        font-weight: bold;
    }
}

button.btn.accept {
    border: 2px solid #489448;
    color: #489448;
}

button.btn.reject {
    border: 2px solid #aa1010;
    color: #aa1010;
}