$app_bar_color: #01023F;
$font_size: 15px;
$text_color: #3998C5;
// header start here
ul {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
}

a:hover {
    text-decoration: none;
    padding: 6px 0px;
}

.nav-link:hover {
    padding: 6px 0px;
}

ion-toolbar {
    width: 100%;
}

// content start 
.user_profile {
    position: absolute;
    left: 0;
    right: 0px;
    z-index: 1111;
    bottom: -34px;
    .profile_img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        overflow: hidden;
        margin: auto;
        img {
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
            min-width: 100%;
            min-height: 100%;
        }
    }
}

.all_content {
    padding: 10px;
    z-index: 100;
}

.leave_status {
    margin-bottom: 15px;
}

.title_text {
    margin-top: 42px;
    p {
        text-transform: uppercase;
        color: $app_bar_color;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.leave_status ul li {
    list-style: none;
    display: inline-block;
    width: 33.33%;
}

.nav-tabs {
    border: 1px solid $text_color;
    border-radius: 30px;
    padding: 0px;
}

.nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 6px 0px;
    font-size: 15px;
    color: #000;
}

.nav-link:hover {
    border: none !important;
}

.nav-item a.active {
    border: 1px solid $text_color !important;
    text-decoration: none;
    background-color: $text_color;
    border-radius: 30px;
    border-color: $text_color;
    color: #fff;
    font-weight: bold;
}

.nav-tabs .nav-item {
    margin-bottom: 0px !important;
}

.aproved_leaves {
    span {
        font-size: 12px;
        color: $text_color;
    }
}

.card {
    box-shadow: 4px 4px 10px 2px #dcdcdc;
    margin-top: 5px;
    padding: 10px;
}

.absent_user_name {
    a {
        font-size: 12px;
        color: $text_color;
    }
}

.dataNotAvalible {
    span {
        font-size: 15px;
        color: #000;
        font-weight: 300;
    }
}

.absent_emp_text {
    background-color: $text_color;
    border-radius: 4px;
    width: 100%;
    padding: 6px 18px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}


// new css start

.tracking img,
.users img,
.profile img,
.reporting img{
    padding: 20px;
    border-radius: 46%;
}
.tracking img,
.reporting img{
    background-color: #CFECFF;
}
.users img{
    background-color: #FCF1D8;
}
.profile img{
    background-color: #FDE1DC;
}
.single-div {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cfecff;
    p {
        color: #359fd5;
        margin-top: 5px;
        font-family: 'Roboto', sans-serif;
    }
}