<ion-header>
    <ion-toolbar class="toolbar-color1 profile-toolbar">
        <ion-row>
            <ion-col size='4'>
                <div class="rao_logo">
                    <ion-img src="../../assets/images/raoinfotech-logo.png" class="logo_img"></ion-img>
                </div>
                <div class="rao_logo" routerLink="/home/dashboard" *ngIf="currentUserRole == 'Admin'">
                    <ion-img src="../../assets/images/raoinfotech-logo.png" class="logo_img"></ion-img>
                </div>
            </ion-col>
            <ion-col size='4'>
                <div class="middle_sec text-center">
                    <span>Edit Info</span>
                </div>
            </ion-col>
            <ion-col size='4'>
                <div class="icon_sec">
                    <img src="../../assets/images/Path 250.png" routerLink="/home/notification" alt="notification">
                    <span>1</span>
                    <img src="../../../assets/images/exit.png" class="ml-3" alt="logout button">
                </div>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="bg-color"></div>
    <div class="loader" *ngIf="loading">
        <img class="loading_img" src="../../assets/images/loader.gif" />
    </div>
    <div class="profile-card">
        <form [formGroup]="edit_profile" *ngIf="userDetail">
            <ion-card class="bg-white">
                <ion-card-content>
                    <div class="card border-0" style="cursor: pointer;">
                        <div class="card-content pending_leaves">
                            <div class="attachment">
                                <div class="row m-0">
                                    <div class="attachment_text">
                                        <label for="fileInput" class="attach_file text-center">Update Profile Image
                                            <br><span class="drag_file text-gray">Attach a File</span></label>
                                        <input type="file" id="fileInput" formControlName="filename" style="display: none;"
                                            (change)="addFile($event)" accept="image/*">
                                        <div class="border-image"
                                            *ngIf="userDetail && !userDetail.profilePhoto && !url">
                                            <img class="circle-ronded" src="../../assets/images/attachment.png">
                                        </div>
                                        <div class="border-image profile-image"
                                            *ngIf="userDetail && userDetail.profilePhoto && !url">
                                            <img class="circle-ronded" src="{{path}}{{userDetail.profilePhoto}}">
                                        </div>
                                        <div class="border-image profile-image"
                                            *ngIf="url">
                                            <img class="circle-ronded" [src]="url">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-card-content>
            </ion-card>
            <div class="container">
                <div class="group-inputs-div">
                    <span>Name</span>
                    <input type="text" formControlName="name" [(ngModel)]="userDetail.name"
                        placeholder="Enter Your FullName">

                    <span>Email</span>
                    <input class="placeholder w-100" type="text" formControlName="email" [(ngModel)]="userDetail.email"
                        placeholder="mm dd yy">

                    <span>Phone No.</span>
                    <input type="text" formControlName="phone" [(ngModel)]="userDetail.phone"
                        placeholder="Enter Phone No.">

                    <span>Designation</span>
                    <input type="text" formControlName="designation" [(ngModel)]="userDetail.designation"
                        placeholder="Enter Designation">

                    <span>Location</span>
                    <input type="text" formControlName="location" [(ngModel)]="userDetail.location"
                        placeholder="Enter Location">

                    <div class="w-100 text-center m-auto">
                        <button class="submit_btn" (click)="updateProfile(userDetail)">Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ion-content>