/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// font-family
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Rubik&display=swap');

$font_size: 15px;
$text_color: #3998C5;
$app_bar_color: #01023F;
.toast-color {
    --background: #01023F;
    --color: white !important;
}

.loader {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

.loading_img {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0;
    margin: auto;
}

ion-header {
    font-family: 'Didact Gothic', sans-serif !important;
}

.icon_sec {
    z-index: 1;
    position: absolute;
    right: 17px;
    top: 6px;
    ion-icon {
        color: white;
        font-size: 25px;
    }
}

.rao_logo {
    background-color: #fff;
    width: 47px;
    height: 22px;
    border-radius: 30px;
    margin-left: 10px;
    text-align: center;
    position: relative;
    margin-right: 15px;
    float: left;
    .logo_img {
        max-height: 100%;
        max-width: 100%;
        height: 12px;
        width: 20px;
        margin: auto;
        vertical-align: center;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
}

.middle_sec span {
    //font-size: $font_size;
    color: #fff;
    font-weight: 100;
}

ion-toolbar {
    .toolbar-color1 {
        height: 52px;
        width: 100%;
    }
}
.header-md:after{
    content: none;
}

// status bar color
#device-android {
    .frame-container {
        .statusbar {
            background-color: #fff;
        }
    }
}

ionlab-device-frame {
    .frame-container {
        .statusbar {
            background-color: #fff !important;
        }
    }
}

ion-header ion-toolbar:first-child {
    --background: #01023F !important;
}

// Modal css start here
.card label {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 0px!important;
}

.checker:checked+.modal {
    display: flex;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px;
    background-color: rgba(0, 0, 0, .4);
    z-index: 9999;
    pointer-events: auto;
}

.modal-body {
    width: 200px;
    background-color: $app_bar_color;
    border-radius: 12px;
    padding: 15px;
    border-radius: 8px;
    position: relative;
}

.modal-content {
    background-color: $app_bar_color!important;
}

.modal-footer {
    overflow: hidden;
}

.modal-content p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0px!important;
}

.reason_text {
    background-color: $text_color;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px;
}

.ok_btn {
    margin-bottom: 10px;
    label {
        padding: 8px 18px;
        background-color: #fff;
        color: $text_color;
        border-radius: 30px;
        font-size: 12px;
        text-transform: uppercase;
    }
}

.close_btn {
    label {
        background-color: #fff;
        color: #3998C5;
        font-size: 15px;
        border-radius: 50%;
        height: 26px;
        width: 26px;
        position: absolute;
        top: -10px;
        right: -10px;
        text-align: center;
        line-height: 25px;
    }
}
.icon_sec{
    i{
        color:#D1D0FC ;
    }
}


.icon_sec span {
    position: absolute;
    color: #fff;
    font-size: 13px;
    background-color: #EF1F6D;
    border-radius: 50%;
    left:10px;
    top: -10px;
    width: 18px;
    padding: 0px 5px;
}

.font_large{
    font-size: 16px !important;
    @media(max-height: 812px){
        font-size: 19px;
    }
    @media(max-height: 750px){
        font-size: 16px;
    }
    @media(max-height: 600px){
        font-size: 15px;
    }
    @media(max-height: 480px){
        font-size: 14px;
    }
}

.font_base{
    font-size: 14px !important;
    @media(max-height: 812px){
        font-size: 17px;
    }
    @media(max-height: 750px){
        font-size: 14px;
    }
    @media(max-height: 600px){
        font-size: 13px;
    }
    @media(max-height: 480px){
        font-size: 12px;
    }
}

.font_small{
    font-size: 12px !important;
    @media(max-height: 812px){
        font-size: 15px;
    }
    @media(max-height: 750px){
        font-size: 12px;
    }
    @media(max-height: 600px){
        font-size: 12px;
    }
    @media(max-height: 480px){
        font-size: 12px;
    }
}
