$app_bar_color: #01023F;
$font_size: 15px;
$text_color: #3998C5;
ul {
    margin: 0px;
    padding: 0px;
}

ion-toolbar {
    .toolbar-color1 {
        height: 98px;
    }
}

.logo_img {
    width: 184px;
    height: 83px;
    margin: auto;
    padding: 6px;
    img {
        max-width: 100%;
        max-height: 100%;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}

.user_profile {
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1111;
    bottom: -32px;
    height: 72px;
    width: 100%;
    margin: auto;
}

.profile_img {
    height: 72px;
    width: 72px;
    overflow: hidden;
    margin: auto;
    cursor: pointer;
    outline: none !important;
    img {
        object-fit: cover;
        max-width: 100%;
        max-height: 100%;
        min-width: 100%;
        min-height: 100%;
        border-radius: 50%;
        outline: none !important;
    }
}

p {
    color: $app_bar_color;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

// Tab css
ion-tab-bar{
    box-shadow: 0px 3px 6px #00000061;
}
.tab-selected .icon-image{
    filter: grayscale(0);
}
.tab-selected{
    ion-label{
        color: #0E8EC7;
    }
}

.icon-image{
    height: 27px;
    width: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(1);
}