<ion-tabs>
    <ion-tab-bar slot="bottom" *ngIf="currentUserRole == 'Developer'">
        <ion-tab-button tab="{{p.url}}" *ngFor="let p of developerPages">
            <ion-icon name="{{p.name}}"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
        </ion-tab-button>

    </ion-tab-bar>
    <ion-tab-bar slot="bottom" *ngIf="currentUserRole == 'Admin'">
        <ion-tab-button tab="{{p.url}}" *ngFor="let p of adminpages">
            <ion-icon name="{{p.name}}"></ion-icon>
            <ion-label>{{p.title}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>